{
  "parser": "babel-eslint",
  "ecmaFeatures": {
      "classes": true,
      "jsx": true
  },
  "extends": [
    "airbnb"
  ],
  "plugins": [
    "react"
  ],
  "root": true,
  "env": {
    "browser": true,
    "jest": true
  },
  "rules": {
    "max-len": ["error", 120, 2, {
      "ignoreUrls": true,
      "ignoreComments": true,
      "ignoreRegExpLiterals": true,
      "ignoreStrings": true,
      "ignoreTemplateLiterals": true
    }],
    "comma-dangle": ["error", {
      "arrays": "always-multiline",
      "objects": "always-multiline",
      "imports": "always-multiline",
      "exports": "always-multiline",
      "functions": "ignore"
    }],
    "no-param-reassign": ["error", {
      "props": false
    }],

    "no-return-await": 0,
    "no-restricted-syntax": 0,
    "no-unused-expressions": ["error", { "allowTaggedTemplates": true }],
    "guard-for-in": 0,
    "no-console": 0,

    "react/forbid-prop-types": 0,
    "react/require-default-props": 0,
    "react/jsx-filename-extension": 0,
    "react/jsx-first-prop-new-line": 0,
    "react/no-multi-comp": 0,
    "react/jsx-max-props-per-line": 0,
    "react/jsx-closing-bracket-location": [2, "after-props"],
    "react/jsx-no-bind": [2, { "ignoreRefs": true, "allowBind": true }],
    "sort-keys": ["error", "asc", {"caseSensitive": true, "natural": true}]
  }
}
